<%- include("partials/header") %>
<div class=container>
    <div class="jumbotron bg-secondary">
        <div class="container">
            <p>Login: </p>
            <form method="post" enctype="application/x-www-form-urlencoded" action="/login">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button type="submit" name="userlogin">Login</button>
            </form>
            <% if (error.length != 0) { %>
                <p style="font-size: 20px; color: black; width: 25%; margin-left: auto; background: red; margin-right: auto; border: 1px solid black;">
                    <strong><%= error[0] %></strong>
                </p>
            <% } %>
        </div>
    </div>
</div>
<%- include("partials/footer") %>